language: java
jdk: oraclejdk8
install: true
script: mvn clean install
cache:
  directories:
  - $HOME/.m2

services:
  - postgresql

before_install:
  - psql -c 'create database api_db;' -U postgres
#  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('root') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
