language: java
jdk: oraclejdk8
install: true
script: mvn clean install
cache:
  directories:
  - $HOME/.m2

services:
  - mysql

before_install:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS loopme_db'
#  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('root') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
